* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    padding: 10px;
    background-image: url(vr.jpg);
}

header {
    background-color: #00539C;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

section {
    margin-bottom: 30px;
}

h2,
h3 {
    color: #00539C;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

ul,
ol {
    padding-left: 20px;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9rem;
    color: black;
    font-weight: 50px;
}